.Grid{
    display: grid;
    grid-template-columns: 60% 40%;
}


.roundedge{
    padding: 10px;
    margin: 2px;
    box-sizing: border-box;

}

.boxStyle {
width: 200px;
height: 10px;
background-color: white;
border: 2px solid blue;
padding: 10px;
margin: 10px;
font-size: 18px;
}

.grid{
    display: grid;
    grid-template-columns: 50% 50%;
}


